@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --background: hsla(0 0% 100%);
  --foreground: hsla(240 10% 3.9%);
  --accent: hsla(0 0% 91%);


  --card: hsla(360 100% 100% / 0.4);
  --card-foreground: hsla(240 10% 3.9%);
  --shadow: hsla(0 0% 100% / 0.2);


  --border: hsla(240 5.9% 90%);
  --primary: hsla(195 100% 15.8%);
  --primary-foreground: hsla(0 0% 98%);
}

.dark {
  --background: hsla(240 10% 3%);
  --foreground: hsla(0 0% 98%);
  --accent: hsl(0 0% 6.7%);


  --card: hsla(360 100% 100% / 0.01);
  --card-foreground: hsla(0 0% 98%);
  --shadow: hsla(240 10% 100% / 0.2);


  --border: hsla(240 3.7% 15.9%);
  --primary:hsla(195 59.6% 82.9%);
  --primary-foreground: hsla(240 5.9% 10%);
}

body {
  background: var(--background);
  color: var(--foreground);
}
