html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  animation: showContent 1.5s ease-in-out;
}

@keyframes showContent {
  from {
    opacity: 0;
    transform: translate(-0.1%, -5%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

body {
  background-color: black;
  color: aliceblue;
}

footer {
  text-align: center;
  padding: 50px 100px;
  font-size: 1.2em;
  margin-bottom: 150px;
}

a {
  padding: 15px;
  color: rgb(255, 253, 254);
  transition: 0.3s ease;
}

.navlinks {
  background-color: rgba(20, 20, 20, 0.9);
  font-size: 1.1em;
  padding: 15px;
  border-radius: 80px;
  position: fixed;
  top: 650px;
  left: 50%;
  display: flex;
  gap: 35px;
  transform: translateX(-50%);
  z-index: 9999;
  transition: 1s;
}

.activelink:hover {
  transform: scale(1.15);
  color: cadetblue;
}

.nonactivelink:hover {
  transform: translateY(-10%) scale(1.15);
  transition: all 0.51s;
  color: #00e5ff;
}

.activelink {
  font-size: 1.2em;
  transform: translateY(-30%);
  background-color: transparent;
  color: rgba(179, 242, 248, 0.993);
  border-radius: 999px;
  z-index: 1;
  transition: 0.3s ease;
}

#righttext {
  font-size: 5em;
  color: rgb(241, 241, 241);
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  cursor: pointer;
}

header,
#container1 {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)),
    url('solid_bgcolor.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-dodge;
}

#container1 {
  height: 85svh;
  position: relative;
  display: flex;
  transition: 1s;
  z-index: 1;
}
header{
  box-shadow:0 0 100px rgba(0, 255, 217, 0.826);
}

#container1::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 60px;
  background: radial-gradient(ellipse at center, rgba(0, 255, 217, 0.826) 0%, rgb(0, 255, 166) 0%,transparent 70%);
  filter: blur(25px);
  z-index: -1;
}

#container1::after{
  content: "";
  box-shadow: 0 0 99999px rgba(0, 255, 217),0 0 99px rgb(0, 255, 123),inset 10px 10px 9999px rgba(0, 255, 217,0.3);
  border: outset rgba(0, 255, 217);
  background-blend-mode: darken;
  border: 0px;
  border-radius: 20px;
  font-size: 0;
  width: 100px;
  margin-left: 550px;
  filter: blur(25px);
  z-index: -1;
}


#container1 #sidetext h1 {
  transform: translate(30%, 600%);
  font-size: 3em;
  font-weight: lighter;
  font-family: monospace;
  color: rgb(2, 232, 232);
  text-shadow: 0 0 5px beige;
}

#container1 #sidetext p {
  transform: translate(40%, 300%);
  font-size: 1.8em;
  font-weight: 400;
  width: 400px;
  color: rgb(247, 248, 248);
  text-shadow: 0 0 2px rgb(52, 255, 1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container1 .boxes {
  left: 700px;
  top:30px;
  background-color: rgba(0, 0, 0, 0.858);
  background-blend-mode:soft-light;
  padding: 80px 30px;
  gap: 30px;
  width: 400px;
  height: 300px;
  font-size: 1.3em;
  border-radius: 20px;
  transform: scale(1.1) translate(20%, 38%);
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  box-shadow: 0 0 45px rgba(1, 247, 238, 0.358);
  cursor: pointer;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#container1-CONTACTBTN{
  background-color: rgb(255, 179, 0);
  border-radius: 15px;
  margin-right: 10px;
}
#container1-PROJECTBTN{
  background-color: rgb(0, 162, 255);
  border-radius: 15px;
}
#container1-CONTACTBTN:hover{
  background-color: rgb(152, 107, 0);
  border-radius: 15px;
  margin-right: 10px;
}

#container1-PROJECTBTN:hover{
  background-color: rgb(0, 102, 160);
  border-radius: 15px;
}

#container1 #boxes-container h1 {
  color: rgb(181, 244, 154);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

header nav a {
  text-decoration: none;
  font-size: 1.6em;
  margin-top: 10px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: rgb(255, 253, 254);
}

#notificationlogo {
  margin-right: 30px;
}

.logos {
  font-size: 1.5em;
  color: rgb(251, 250, 250);
  text-shadow: 0 0 20px black;
}

header .navlinks2 {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 100px;
}

.logo {
  font-family: 'Edu NSW ACT Cursive', cursive, Arial;
  font-size: 30px;
  margin-left: 20px;
}

#container2{
  background-color: black;
  height: 100svh;
}
